+slide
    h3 Ember.js - the free framework

    div by  Bartosz Jakubowiak
    div
        span thanks to IG KnowHow
        img.pull-right(src='templates/images/ig-logo.jpg' style="width: 40px; position: relative; top: 20px; left: 20px; border: none")

    aside.notes Say thanks for the opportunity of being here.

