+slide
    h4 1. Completed yesterday

+slide
    h3 Ember
    img.pull-right(src='templates/images/tomster-under-construction.png' style="position: relative; background: none; top: 20px; left: 20px; border: none")