+slide
    h5 summary
    pre
        code.bash(data-trim contenteditable).
            $ npm install -g ember-cli
            $ ember init
    pre
        code.bash(data-trim contenteditable).
            $ ember install ember-bootstrap
            $ ember install ember-cli-mirage
    pre
        code.bash(data-trim contenteditable).
            $ ember g route orders
            $ ember g controller orders
            $ ember g service orders

            $ ember g route single-order
            $ ember g controller single-order

            $ ember g component table-row
            $ ember g component add-order

    pre
        code.bash(data-trim contenteditable).
            $ ember install ember-cli-yadda
            $ ember g feature single-order
            $ ember g feature order
