+slide
    span Just two commands to set up the whole environment
    pre
        code.bash(data-trim contenteditable).
            $ npm install -g ember-cli
            $ ember init

    span One to run the app

    pre
        code.bash(data-trim contenteditable).
            $ ember s

    aside.notes.
        Not to waste time on installing, I had already done that before the presentation. So we can skip the process
+slide
    img.pull-right(src='templates/images/tree.png' style="max-height: 50vh; background: none; border: none")
