+slide
    p Monday morning
    p 8:00 a.m.
    p incoming email

+slide
    p
        | We have a client flying in from NY
        span.highlighted  tomorrow
        |  and we want to impress him with our CRM.
    p
        | Included find
        span.highlighted  JSON samples
        |  from his order system.
    p
        | Please be ready with a tested demo
        span.highlighted  after lunch.
    p
        | Have the app
        span.highlighted  tested
        |  as he likes to look at the code

    p.highlighted How was your weekend?
    p(style="text-align: left;") Mike, CTO