+slide
    p Lets add some actual structure
    pre
        code.bash(data-trim contenteditable).
            $ ember g route orders
            $ ember g controller orders

    pre
        code.bash(data-trim contenteditable).
            $ ember g route single-order
            $ ember g controller single-order


include slide-8-1-3
include slide-8-1-2

include slide-8-1
include slide-8-3

