+slide
    h3 Questions?
    h3 Pytania?

+slide
    p
        span Presentation
        a(href="https://github.com/Martodox/meetjs-ember-talk")
            p https://github.com/Martodox/meetjs-ember-talk
    p
        span Ember app
        a(href="https://github.com/Martodox/meetjs-million-dollar-app")
            p https://github.com/Martodox/meetjs-million-dollar-app